body {
    margin: 0;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#f0f0f0, #ffffff);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;    

}

.header{
    display: flex;
    align-items: center;        
    justify-content: center;    
    gap: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 3px solid black;
    flex-direction: column;
}

.header h1 {
    padding-bottom: 3px;
    color: black;
    font-style: italic;
}

.header h2 {
    padding-bottom: 3px;
    color: black;
    font-style: italic;
}

#goBackBtn {
    padding: 8px 16px;
    background-color: #d3d3d8;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#goBackBtn:hover {
     background-color: #595f68;
}

#getStatsBtn {
    padding: 8px 16px;
    background-color: #B0E0E6;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#getStatsBtn:hover {
     background-color: #4682B4;
}

#results {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.result-item {
    background: white;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.result-content {
    margin-bottom: 10px;
    line-height: 1.5;
}

#results2 {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.result2-item {
    background: white;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.result2-content {
    margin-bottom: 10px;
    line-height: 1.5;
}

#geminiRecommendsBtn {
    padding: 8px 16px;
    background: linear-gradient(to right, #E8F0FE, #FCE8E6, #FEF7E0, #E6F4EA);
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#geminiRecommendsBtn:hover {
     background: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
}

#geminiRecSubText {
    padding-bottom: 0px;
    color: black;
    font-style: italic;
}

#deleteBtnText {
    padding-bottom: 0px;
    font-weight: bolder;
    color: crimson;
}

#deleteBtnSubText {
    padding-bottom: 0px;
    font-weight: bolder;
    color: crimson;
}

#deleteBtn {
    padding: 8px 16px;
    background-color: crimson;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#deleteBtn:hover {
     background-color: darkred;
}