body {
    margin: 0;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#f0f0f0, #ffffff);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;    

}

.header{
    display: flex;
    align-items: center;        
    justify-content: center;    
    gap: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 3px solid black;
    flex-direction: column;
}

.header h1 {
    padding-bottom: 3px;
    color: black;
    font-style: italic;
}

.header h2 {
    padding-bottom: 3px;
    color: black;
    font-style: italic;
}

#goBackBtn {
    padding: 8px 16px;
    background-color: #d3d3d8;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#goBackBtn:hover {
     background-color: #595f68;
}